<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="dns-prefetch" href="https://cdn.cloudflare.com">
    <link rel="dns-prefetch" href="http://at.alicdn.com">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <title>Jerry's resume</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_472344_ys9ns30t8njhsemi.css">
</head>

<body>
    <div class="loading-page displayed"><span>loading...</span></div>
    <div class="container" id="container">
        <div id="background"></div>
        <ul class="color-selector">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <div id="flipbook">
            <div class="hard">
                <img class="cover-img" src="static/images/hard.webp" alt="">
                <div class="hard-arrow"><i class="iconfont icon-arrow"></i></div>
            </div>
            <div>
                <x-selfinfo></x-selfinfo>
            </div>
            <div>
                <x-selfintro></x-selfintro>
            </div>
            <div>
                <div class="main-bank">
                    <span>项</span>
                    <span>目</span>
                    <span>经</span>
                    <span>历</span>
                </div>
            </div>
            <div>
                <project-video class="project-box"></project-video>
            </div>
            <div>
                <project-recorder class="project-box"></project-recorder>
            </div>
            <div class="main-bank">
                <span>实</span>
                <span>战</span>
                <span>demo</span>
            </div>
            <div>
                <x-html></x-html>
            </div>
            <div>
                <x-css class="x-css"></x-css>
            </div>
            <div>
                <x-es6></x-es6>
            </div>
            <div>
                <span class="the-more">HTML、CSS、JS都有了，就直接上项目吧 (*^__^*) </span>
            </div>
            <div>
                <x-chat class="x-chat"></x-chat>
            </div>
            <div>
                <x-jquery></x-jquery>
            </div>
            <div>
                <div id="douban"></div>
            </div>
            <div>
                <x-react></x-react>
            </div>
            <div class="hard" style="background: #d6d6d6;">
                <x-end></x-end>
            </div>
        </div>
    </div>
    <script type="text/javascript">
    /**
     * isOpenInMobile 判断页面是否在浏览器打开
     * @return {Boolean}
     */
        function isOpenInMobile() {
            const regExp = /phone|pad|pod|iPhone|iPod|iPad|ios|Android|Mobile|BlackBerry|IEMobile|MQQBrowser|JUC|Fennec|wOSBrowser|BrowserNG|WebOS|Symbian|Windows Phone/i
            return regExp.test(navigator.userAgent)
        }
        // 判断是否在chrome打开（处理webp兼容性）
        function isChrome() {
            return navigator.userAgent.indexOf("Chrome") > -1 ? true : false
        }
        if (!isChrome() || isOpenInMobile()) {
            document.body.innerHTML = '<span class="browerErr">Sorry (。﹏。!) 请使用PC端Chrome浏览器打开页面</span>'
        }
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/x-tag/1.5.11/x-tag-core-with-shadowdom.min.js"></script>
    <script src="./static/scripts/vector.js"></script>
</body>

</html>