<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Jerry's resume</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/normalize/8.0.0/normalize.min.css">
    <link rel="stylesheet" href="https://at.alicdn.com/t/font_472344_lhevwuu0kxx0f6r.css">
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_565661_zs3hmd766klc8fr.css">
</head>

<body>
    <div class="container" id="container">
        <div id="background"></div>
        <ul class="color-selector">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <div id="flipbook">
            <div class="hard"> Turn.js </div>
            <div>
                <x-selfinfo></x-selfinfo>
            </div>
            <div>
                <x-selfintro></x-selfintro>
            </div>
            <div>
                <x-html></x-html>
            </div>
            <div>
                <x-css class="x-css"></x-css>
            </div>
            <div>
                <x-es6></x-es6>
            </div>
            <div> <div id="douban"></div> </div>
            <div> Page 7 </div>
            <div> Page 8 </div>
            <div class="hard"></div>
        </div>
    </div>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/x-tag/1.5.11/x-tag-core-with-shadowdom.min.js"></script>
    <script src="vector.js"></script>
</body>

</html>