<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>test</title>
    <link href='http://cdn.webfont.youziku.com/webfonts/nomal/114557/19673/5a8fb9ddf629d80708b67cc8.css' rel='stylesheet' type='text/css' />
    <style>
    * {
        margin: 0;
        padding: 0;
    }

    body {
        display: flex;
        height: 100vh;
        justify-content: center;
        align-items: center;
    }

    .container {
        display: block;
        height: 720px;
        width: 480px;
        border: 1px solid #000;
    }
    /*组件部分*/

    
    </style>
</head>

<body>
    <div class="container">
        
    </div>
</body>

</html>