.main {
    display: flex;
    height: 100%;
    background: #188eee url(http://coding.imweb.io/img/project/resume/bg.png);
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    color: #fff;
    text-align: center;
    font-size: 1rem;
}


/*设置头像样式*/

.user-avatar {
    height: 7rem;
    width: 7rem;
    background: #fff;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.3);
}


/*引用头像动画*/

.user-avatar:hover {
    animation: avatarscale 1s linear;
}


/*设置头像动画*/

@keyframes avatarscale {
    from {
        box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.3);
    }
    to {
        box-shadow: 0 0 0 14px rgba(255, 255, 255, 0.1);
    }
}


/*设置头像图片填充满容器*/

.user-avatar img {
    width: 100%;
    height: 100%;
}


/*设置名称样式*/

.user-name {
    width: 100%;
    margin: 20px 0;
    font-size: 2rem;
}


/*设置兴趣样式*/

.enjoyment {
    width: 100%;
}



/*设置联系方式盒子样式*/

.contact {
    width: 100%;
    display: flex;
    justify-content: center;
}

.contact-list {
    text-align: left;
    list-style: none;
}

.contact-list .contact-item {
    margin: 10px 0;
}



/*设置小图标字体大小*/

.contact-list .contact-item:before {
    font-size: 1.5rem;
}



/*设置联系方式下方的a连接的字体样式*/

.contact-list a {
    color: #fff;
}



/*设置学历样式*/

.education {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    width: 350px;
    padding: 10px 10px;
    border: 1px solid rgba(0, 0, 0, .4);
    border-radius: 5px;
    box-shadow: 0 0 0 2px #5cb6ff;
}

.education li {
    display: block;
    width: 50%;
    text-align: left;
}